<h1>Add New Warehouse Location Record</h1>

<p>
   Please enter your warehouse location name.
</p>

  <form action="/location">
    <strong>Warehouse Location Name:</strong><br>
    <input type="text" name="location_name">
    <br><br>
    <input type="submit" value="Submit">
  </form>
