<h1>Add New Product Category Record</h1>

<p>
   Currently you can only add the name of the manufacturer for product category. Please enter a new manufacturer category record below.
</p>

  <form action="/category">
    <strong>Manufacturer Name:</strong><br>
    <input type="text" name="manufacturer">
    <br><br>
    <input type="submit" value="Submit">
  </form>
