<h1>Category Record Information</h1>
<h2>You have updated your category manufacturer name!</h2>
<hr>
<h3>CATEGORY INFORMATION</h3>
<hr>
<p>
   <strong>New Manufacturer Name:</strong> <%= @manufacturer %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtHome&lt&lt</a>