<h1>Category Record Information</h1>
<h2>You have added a new manufacturer in the category list!</h2>
<hr>
<h3>PRODUCT CATEGORY INFORMATION</h3>
<hr>
<p>
   <strong>Manufacturer Name:</strong> <%= @manufacturer %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtHome&lt&lt</a>