<h1>Welcome to the Warehouse Manager</h1>

<p>
  Please use this page to tell us what you want to do. Before you can add a   
  product for the first time you must first add at least one location and 
  product category.
</p>

<h2>Warehouse Location Manager</h2>
<ol>
  <li><a href="/add_location">Add a new location.</a></li>
  <li>Update a current location.</li>
  <li><a href="/delete_location">Delete a current location.</a></li>
  <li>Fetch current warehouse location list.</li>
</ol>


<h2>Product Category Manager</h2>
<ol>
  <li><a href="/add_category">Add a new category.</a></li>
  <li>Update a current category.</li>
  <li><a href="/delete_category">Delete a current category.</a></li>
  <li>Fetch current category list.</li>
</ol>


<h2>Product Manager</h2>
<ol>
  <li><a href="/product_form">Add a new product.</a></li>
  <li>Update a current product.</li>
  <li>Delete a current product</li>
  <li>Fetch current product list.</li>
  <li>Update product quantity.</li>
  <li>Assign a product to a location.</li>  
  <li>Assign a product to a category.</li>     
</ol>

