<h1>Welcome to the Warehouse Manager</h1>

<p>
  Please use this page to tell us what you want to do.
</p>

<h2>Product Manager</h2>
<ol>
  <li><a href="#{<%= :product_form %>}">Add a new product.</a></li>
  <li>Update a current product.</li>
  <li>Delete a current product</li>
  <li>Fetch current product list.</li>
  <li>Update product quantity.</li>  
</ol>


<h2>Warehouse Location Manager</h2>
<ol>
  <li>Fetch current warehouse location list.</li>
  <li>Add a new location.</li>
  <li>Update a current location.</li>
  <li>Delete a current location.</li>
  <li>Assign a product to a location.</li>  
</ol>


<h2>Product Category Manager</h2>
<ol>
  <li>Fetch current category list.</li>
  <li>Add a new category.</li>
  <li>Update a current category.</li>
  <li>Delete a current category.</li>
  <li>Assign a product to a category.</li>     
</ol>