<h1>Location Record Information</h1>
<h2>You have updated your warehouse location name!</h2>
<hr>
<h3>WAREHOUSE LOCATION INFORMATION</h3>
<hr>
<p>
   <strong>New Location Name:</strong> <%= @location_name %><br>
</p>
<br><a href="http://localhost:4567">&gt&gtHome&lt&lt</a>