<h1>Add New Product Record</h1>

<p>
   Please enter your product information into the following form.
</p>

  <form action="/product">
    <strong>Product Name:</strong><br>
    <input type="text" name="name">
    <br><br><br>
    <strong>Product Description:</strong><br><br>
    <textarea name="description" placeholder="" rows="5" cols="30">
    </textarea>
    <br><br><br>
    <strong>Cost:</strong><br>
    <input type="number" name="cost" min="0" step="0.01">
    <br><br><br>
    <strong>Serial Number:</strong><br>
    <input type="text" name="serial">
    <br><br><br>    
    <strong>Quantity:</strong><br>
    <input type="number" name="quantity" min="0">
    <br><br><br>
    <strong>Assign the product to a location:</strong>
    <br><br>
    <select name="location_id">
      <% Location.all.each do |x| %>
        <option value="<%= x.id %>"><%= x.location_name %></option>
      <% end %>
    </select>
    <br><br><br>
    <strong>Assign the product to a category:</strong>
    <br><br>
    <select name="category_id">
      <% Category.all.each do |x| %>
        <option value="<%= x.id %>"><%= x.manufacturer %></option>
      <% end %>
    </select>
    <br><br><br>
    <input type="submit" value="Submit">
  </form>
