<h1>Update Category Record</h1>

<p>
Please select which manufacturer you would like to update and enter the new manufacturer name in the field below.
</p>

  <form action="/category_update">
    <select name="category_id">
      <% Category.all.each do |x| %>
        <option value="<%= x.id %>"><%= x.id%> - <%= x.manufacturer %></option>
      <% end %>
    </select>
    <br><br>
    <strong>New Location Name:</strong><br>
    <input type="text" name="manufacturer">
    <br><br>
    <input type="submit" value="Submit">
  </form>
