<h1>Update Warehouse Location Record</h1>

<p>
Please select which location you would like to update and enter the new location name in the field below.
</p>

  <form action="/location_update">
    <select name="location_id">
      <% Location.all.each do |x| %>
        <option value="<%= x.id %>"><%= x.id%> - <%= x.location_name %></option>
      <% end %>
    </select>
    <br><br>
    <strong>New Location Name:</strong><br>
    <input type="text" name="location_name">
    <br><br>
    <input type="submit" value="Submit">
  </form>
